<h2><%=t(:label_settings)%></h2>

<%= error_messages_for 'settings' %>

<% @settings = @hudson.settings %>
<%= form_for @settings, :url => {:action => 'edit', :id => @project}, :html => {:method=>:put} do |setting_form| %>
<div class="box tabular">
  <p><label><%=t(:label_url)%></label>
     <%=text_field :settings, :url, :size=>50%> <%=t(:notice_hudson_url)%><br/>
     <%=check_box_tag "enable_url_for_plugin", :value => 'true' %> <%=t(:label_use_url_for_plugin)%><br/>
     <span style="display:none;" id="rect_url_for_plugin"><%=text_field :settings, :url_for_plugin, :size=>50%></span>
  </p>
  <p><label><%=t(:field_user)%></label>
     <%=text_field :settings, :auth_user, :size=>20 %></p>
  <p><label><%=t(:field_password)%></label>
     <%=password_field :settings, :auth_password, :size=>20%></p>
  <p><label><%=t(:label_get_build_details)%></label><%=check_box :settings, :get_build_details, {}, 'true'%> <%=t(:notice_get_build_details)%></p>
  <p><label><%=t(:label_show_compact)%></label><%=check_box :settings, :show_compact, {}, 'true'%></p>
  <p><label><%=t(:label_look_and_feel)%></label>
     <%=radio_button :settings, :look_and_feel, 'Hudson'%> <%=t(:label_look_and_feel_hudson)%><br>
     <%=radio_button :settings,:look_and_feel,  'Plugin'%> <%=t(:label_look_and_feel_plugin)%>
  </p>
</div>

<fieldset class="box"><legend><%=t(:label_health_report)%></legend>
  <%=t(:notice_health_report)%>
  <div id="health_report_fields" style="margin-left:10px;">
  <% @hudson.settings.health_report_settings.each do |hrs| -%>
    <% next if hrs.new_record? -%>
    <%=render 'health_report_setting', :field_name => "health_report_settings[]", :hrs => hrs %>
  <% end -%>
  <% @hudson.settings.health_report_settings.each do |hrs| -%>
    <% next unless hrs.new_record? -%>
    <%=render 'health_report_setting', :field_name => "new_health_report_settings[]", :hrs => hrs  %>
  <% end -%>
  </div>
  <span style="font-size:smaller;" id="health-report-setting-appender"><%= link_to t(:label_add_health_report), '#' %></span>
</fieldset>

<h3><%=t(:label_jobs)%></h3>

  <%=render :partial => 'joblist'%>

<p><%= submit_tag t(:button_save) %></p>
<% end %>

<h2 style="margin-top:20px;"><%=t(:label_database)%></h2>

<% form_tag({:action => 'delete_history', :id => @project}) do %>
  <%= submit_tag t(:button_delete_history) %>
<% end %>

<style type="text/css">
<!--
.health_report_explain { font-weight:bold;}
-->
</style>
<% enable_url_for_plugin = (@settings.url_for_plugin and @settings.url_for_plugin.length != 0) %>
<script type="text/javascript">
//<!--
$(document).ready(function() {
  $("#health-report-setting-appender").healthReportSettingAppender({
    text: '<%=raw l(:notice_health_report_setting)%>',
    appendTo: '#health_report_fields'
  });
  $("#enable_url_for_plugin").displaySwitcher({ 
    target: "#rect_url_for_plugin", 
    initialState: <%=raw enable_url_for_plugin%>
  });
});
//-->
</script>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "hudson.css", :plugin => "redmine_hudson", :media => "screen" %>
  <%= javascript_include_tag 'jquery.health_report_setting_appender.js', :plugin => "redmine_hudson" %>
  <%= javascript_include_tag 'jquery.display_switcher.js', :plugin => "redmine_hudson" %>
<% end %>
